<app-hero-section [content]="content"/>
<app-container>
  <section class="flex flex-col xl:flex-row justify-between gap-32 xl:gap-16">
    <div class="flex flex-col gap-16">
      <div class="max-w-4xl">
        <h2 class="title text-3xl md:text-4xl">Die Vision von KAIRESH</h2>
        <p class="text mt-2">
          Mit verschiedenen Projekten (siehe Kasten) setzt sich KAIRESH dafür ein, Mut und Hoffnung sowie
          Zukunftsperspektiven (zurück)zugeben. Dabei legen wir einen besonderen Fokus auf die Förderung von Kindern
          und Jugendlichen und somit auf die nächste Generation. Zur Zeit bestehen Projekte in Kirgistan und Mosambik.
          Als Verein sind wir jedoch offen für weitere Projekte in anderen Ländern und schliessen auch Inlandprojekte
          nicht aus.
        </p>
      </div>
      <div class="max-w-4xl">
        <h2 class="title text-3xl md:text-4xl">Warum KAIRESH?</h2>
        <p class="text mt-2">
          Als kleinen Verein legen wir sehr hohen Wert darauf, dass sämtliche administrative und organisatorische Kosten
          durch die Mitgliederbeiträge oder durch separat dafür vorgesehene Spenden gedeckt werden. Dadurch kommt 100%
          von deiner Spenden beim gewünschten Projekt an. Hinzu kommt, dass die Projektverantwortlichen langjährigen
          Kontakt zu Personen und Partnerorganisationen vor Ort haben. Durch diesen engen und persönlichen Kontakt,
          sowie regelmässigen Besuchen vor Ort (welche auf eigene Kosten und nicht mit Spendengeldern finanziert
          werden), wird sichergestellt, dass deine Spenden korrekt eingesetzt werden.
        </p>
      </div>
    </div>
    <app-values type="verein"/>
  </section>
  <section class="mt-32">
    <app-projects/>
  </section>
  <section class="mt-32 flex flex-col lg:grid lg:grid-cols-2 lg:items-center gap-6">
    <h3 class="title text-3xl">Wie kann ich KAIRESH unterstützen?</h3>
    <p class="text">Hierfür gibt es verschiedene Möglichkeiten. Eine ist beispielsweise die
      finanzielle Unterstützung, bei welcher du mittels Vermerk das gewünschte Projekt angeben kannst. Spenden ohne
      Vermerk gelten als zweckungebunden und dürfen vom Verein je nach Bedarf unterschiedlich eingesetzt werden. Als
      neuer Verein sind wir – nebst den Spenden – auch auf Mitglieder angewiesen. Falls du dir vorstellen könntest, als
      aktives oder passives Mitglied bei KAIRESH mitzumachen, dann melde dich unbedingt bei uns. Falls du deine Talente
      irgendwie in den Verein einbringen möchtest, dann freuen wir uns ebenfalls, wenn du dich bei uns meldest!</p>
  </section>
</app-container>
