<app-container [size]="ContainerSize.SMALL">
  <h1 class="title text-center text-2xl sm:text-4xl">Impressum</h1>
  <section class="flex flex-col gap-8 mt-16">
    <div class="flex flex-col gap-1">
      <h2 class="title text-xl">Verantwortlich für den Inhalt dieser Website</h2>
      <p class="text">
        Thirza Schneider<br/>
        Neumattstrasse 26<br/>
        CH-3127 Mühlethurnen
      </p>
    </div>
    <div class="flex flex-col gap-1">
      <h2 class="title text-xl">Kontakt</h2>
      <a href="mailto:thirza.schneider@kairesh.org" class="text underline">
        thirza.schneider&#64;kairesh.org
      </a>
      <a href="mailto:patricia.jucker@kairesh.org" class="text underline">
        patricia.jucker&#64;kairesh.org
      </a>
    </div>
    <div class="flex flex-col gap-1">
      <h2 class="title text-xl">Disclaimer</h2>
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <h3 class="title text-lg">Haftung für Inhalte</h3>
          <p class="text">
            Als Diensteanbieter sind wir gemäss den geltenden Gesetzen für eigene Inhalte auf diesen Seiten
            verantwortlich.
            Wir sind jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder
            nach
            Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text">
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
            bleiben
            hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
            Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
            umgehend entfernen.
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="title text-lg">Haftung für Links</h3>
          <p class="text">
            Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
            Deshalb
            können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
            stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
            Zeitpunkt der Verlinkung auf mögliche Rechtsverstösse überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt
            der
            Verlinkung nicht erkennbar.
          </p>
          <p class="text">
            Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
            Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
            umgehend
            entfernen.
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="title text-lg">Urheberrecht</h3>
          <p class="text">
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem schweizerischen
            Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung ausserhalb der
            Grenzen
            des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads
            und
            Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
          </p>
          <p class="text">
            Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
            beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
            Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
            Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
          </p>
        </div>
      </div>
    </div>
  </section>
</app-container>
