<app-container [size]="ContainerSize.SMALL">
  <h1 class="title text-center text-2xl sm:text-4xl">Datenschutzrichtlinien</h1>
  <p class="text my-8">Der Schutz Ihrer personenbezogenen Daten ist uns ein wichtiges Anliegen. Wir behandeln Ihre Daten
    vertraulich und in Übereinstimmung mit den gesetzlichen Bestimmungen der Schweiz, insbesondere dem Bundesgesetz über
    den Datenschutz (DSG), sowie dieser Datenschutzerklärung.</p>
  <ul class="flex flex-col gap-8">
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">1. Verantwortlicher für die Datenverarbeitung</h2>
      <p class="text">Verantwortlicher für die Datenverarbeitung im Sinne des Schweizer Datenschutzgesetzes (DSG)
        ist:</p>
      <p class="text">
        Thirza Schneider<br/>
        Neumattstrasse 26<br/>
        CH-3127 Mühlethurnen<br/>
        <a href="mailto:thirza.schneider@kairesh.org" class="underline">
          thirza.schneider&#64;kairesh.org
        </a>
      </p>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">2. Erhebung und Speicherung personenbezogener Daten</h2>
      <ul class="flex flex-col gap-4">
        <li class="flex flex-col gap-1">
          <h3 class="title text-lg">2.1. Kontaktformular</h3>
          <p class="text">Wenn Sie uns über das Kontaktformular kontaktieren, werden folgende personenbezogene Daten
            erhoben:</p>
          <ul class="flex flex-col gap-1 list-disc ps-7">
            <li class="text">Vorname</li>
            <li class="text">Nachname</li>
            <li class="text">E-Mail-Adresse</li>
            <li class="text">Inhalt der Nachricht</li>
          </ul>
          <p class="text">
            Diese Daten verwenden wir ausschliesslich zur Bearbeitung Ihrer Anfrage und zur Kontaktaufnahme mit Ihnen.
            Rechtsgrundlage für diese Verarbeitung ist Ihre Einwilligung oder, sofern die Kontaktaufnahme im
            Zusammenhang
            mit einer vertraglichen Beziehung steht, die Erforderlichkeit zur Erfüllung eines Vertrags.
          </p>
        </li>
        <li class="flex flex-col gap-1">
          <h3 class="title text-lg">2.2. Google Analytics</h3>
          <p class="text">Unsere Website verwendet Google Analytics, einen Webanalysedienst von Google Ireland Limited.
            Google Analytics verwendet sogenannte „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und
            die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten
            Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA
            übertragen und dort gespeichert.</p>
          <p class="text">Opt-out: Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer
            Browser-Software verhindern; wir weisen jedoch darauf hin, dass Sie in diesem Fall möglicherweise nicht alle
            Funktionen dieser Website vollumfänglich nutzen können. Sie können zudem die Erfassung der durch Cookies
            erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) sowie die Verarbeitung
            dieser Daten durch Google verhindern, indem Sie das Browser-Plugin herunterladen und installieren, das unter
            folgendem Link verfügbar ist: <a class="underline" href="https://tools.google.com/dlpage/gaoptout"
                                             target="_blank">https://tools.google.com/dlpage/gaoptout</a>.</p>
          <p class="text">
            Rechtsgrundlage für die Nutzung von Google Analytics ist Ihre Einwilligung gemäss Art. 6 Abs. 1 lit. a DSGVO
            und Art. 31 DSG (für Schweiz).
          </p>
        </li>
      </ul>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">3. Zweck der Verarbeitung personenbezogener Daten</h2>
      <p class="text">Wir verarbeiten Ihre personenbezogenen Daten für folgende Zwecke:</p>
      <ul class="flex flex-col gap-1 list-disc ps-7">
        <li class="text">Bearbeitung Ihrer Anfragen über das Kontaktformular</li>
        <li class="text">Analyse der Nutzung unserer Website zur Optimierung unseres Angebots</li>
      </ul>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">4. Weitergabe von Daten</h2>
      <p class="text">Eine Übermittlung Ihrer personenbezogenen Daten an Dritte erfolgt nur in folgenden Fällen:</p>
      <ul class="flex flex-col gap-1 list-disc ps-7">
        <li class="text">Wenn Sie Ihre ausdrückliche Einwilligung dazu gegeben haben</li>
        <li class="text">Wenn die Weitergabe zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher
          Massnahmen erforderlich ist
        </li>
        <li class="text">Wenn wir aufgrund gesetzlicher Bestimmungen zur Weitergabe verpflichtet sind</li>
        <li class="text">Wenn dies zur Wahrung berechtigter Interessen erforderlich ist, z. B. zur Geltendmachung oder
          Verteidigung von Rechtsansprüchen
        </li>
      </ul>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">5. Übermittlung von Daten ins Ausland</h2>
      <p class="text">Sofern wir personenbezogene Daten ins Ausland übermitteln, insbesondere in die USA (z. B. im
        Zusammenhang mit Google Analytics), stellen wir sicher, dass die Daten nur in Länder übermittelt werden, die
        einen angemessenen Datenschutz bieten, oder dass wir entsprechende vertragliche Vereinbarungen treffen (wie z.
        B. Standardvertragsklauseln), um den Schutz Ihrer Daten zu gewährleisten.
      </p>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">6. Dauer der Speicherung</h2>
      <p class="text">Wir speichern personenbezogene Daten nur so lange, wie dies zur Erfüllung der Zwecke, für die sie
        erhoben wurden, erforderlich ist, oder solange wir gesetzlich dazu verpflichtet sind.
      </p>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">7. Ihre Rechte</h2>
      <p class="text">Sie haben gemäss den Bestimmungen des Schweizer Datenschutzgesetzes (DSG) folgende Rechte:
      </p>
      <ul class="flex flex-col gap-1 list-disc ps-7">
        <li class="text">Auskunftsrecht: Sie können jederzeit Auskunft über die von uns über Sie gespeicherten
          personenbezogenen Daten verlangen.
        </li>
        <li class="text">Berichtigungsrecht: Sie haben das Recht, die Berichtigung unrichtiger oder unvollständiger
          Daten zu verlangen.
        </li>
        <li class="text">Löschungsrecht: Sie haben das Recht, die Löschung Ihrer personenbezogenen Daten zu verlangen,
          sofern wir nicht gesetzlich zur weiteren Speicherung verpflichtet sind oder ein berechtigtes Interesse an der
          Speicherung besteht.
        </li>
        <li class="text">Recht auf Einschränkung der Verarbeitung: Sie können die Einschränkung der Verarbeitung Ihrer
          personenbezogenen Daten verlangen.
        </li>
        <li class="text">Datenübertragbarkeit: In bestimmten Fällen haben Sie das Recht, die Übermittlung der von Ihnen
          bereitgestellten Daten an sich oder an Dritte zu verlangen.
        </li>
      </ul>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">8. Widerruf Ihrer Einwilligung</h2>
      <p class="text">Sie haben das Recht, eine erteilte Einwilligung zur Verarbeitung Ihrer personenbezogenen Daten
        jederzeit zu widerrufen. Der Widerruf gilt nur für zukünftige Datenverarbeitungen; die Rechtmässigkeit der bis
        zum Widerruf erfolgten Verarbeitung bleibt unberührt.
      </p>
    </li>
    <li class="flex flex-col gap-1">
      <h2 class="title text-xl">9. Änderungen dieser Datenschutzerklärung</h2>
      <p class="text">Wir behalten uns vor, diese Datenschutzerklärung bei Bedarf anzupassen, um rechtlichen und
        technischen Änderungen gerecht zu werden. Für Ihren erneuten Besuch gilt die jeweils aktuelle Version.
      </p>
    </li>
  </ul>
</app-container>
