<app-hero-section [content]="content"/>
<app-container [size]="ContainerSize.EXTRA_SMALL">
  <section>
    <form *ngIf="!formSubmitted" class="flex flex-col gap-4 w-full" name="kontakt" netlify (submit)="submitForm($event)">
      <div class="flex flex-col md:flex-row gap-4">
        <input class="input" type="text" placeholder="Vorname" required>
        <input class="input" type="text" placeholder="Nachname" required>
      </div>
      <input class="input" type="email" placeholder="E-Mail-Adresse" required>
      <textarea class="input" placeholder="Nachricht" required rows="8"></textarea>
      <div class="flex items-center gap-2">
        <input type="checkbox" required id="datenschutz" class="bg-background outline-2 outline-text cursor-pointer">
        <label for="datenschutz" class="text cursor-pointer">Ich habe die <a class="underline" routerLink="/datenschutz">Datenschutzerklärung</a>
          gelesen und akzeptiere sie.</label>
      </div>
      <button class="btn btn-primary">Absenden</button>
    </form>
    <div *ngIf="formSubmitted" class="flex flex-col gap-4">
      <h2 class="title text-3xl text-center">Vielen Dank für Ihre Nachricht!</h2>
      <p class="text text-center">Wir haben Ihre Nachricht erhalten und werden uns in Kürze bei Ihnen melden.</p>
    </div>
  </section>
</app-container>
