<div class="flex flex-col md:grid md:grid-cols-2 xl:grid-cols-4 gap-6">
  <a routerLink="/projekte/b1-bildung-in-kirgistan"
     class="flex flex-col border border-[#E4E4E4] shadow-default p-4 rounded-2xl bg-background hover:scale-[1.01] transition-default">
    <div class="w-[60px] h-[60px] border-2 border-[#E4E4E4] rounded-lg flex items-center justify-center p-4">
      <i class="fa-solid fa-chalkboard-user text-secondary text-3xl"></i>
    </div>
    <h3 class="title text-xl mt-4">B1 Bildung in Kirgistan</h3>
    <p class="text mt-2">Mit einem Stipendium ermöglicht KAIRESH Jugendlichen oder jungen Erwachsenen in
      Kirgistan, eine berufliche Ausbildung (i.d.R. ein Studium) zu absolvieren, was ihre Chancen auf dem
      Arbeitsmarkt bedeutend erhöht.</p>
  </a>
  <a routerLink="/projekte/b2-bildung-in-mosambik"
     class="flex flex-col border border-[#E4E4E4] shadow-default p-4 rounded-2xl bg-background hover:scale-[1.01] transition-default">
    <div class="w-[60px] h-[60px] border-2 border-[#E4E4E4] rounded-lg flex items-center justify-center p-4">
      <i class="fa-solid fa-graduation-cap text-secondary text-3xl"></i>
    </div>
    <h3 class="title text-xl mt-4">B2 Bildung in Mosambik</h3>
    <p class="text mt-2">Mit einem Stipendium ermöglicht KAIRESH Jugendlichen oder jungen Erwachsenen in
      Mosambik, eine berufliche Ausbildung (i.d.R. ein Studium) zu absolvieren, was ihre Chancen auf dem
      Arbeitsmarkt bedeutend erhöht.</p>
  </a>
  <a routerLink="/projekte/u1-unterstuetzung-oasis-kirgistan"
     class="flex flex-col border border-[#E4E4E4] shadow-default p-4 rounded-2xl bg-background hover:scale-[1.01] transition-default">
    <div class="w-[60px] h-[60px] border-2 border-[#E4E4E4] rounded-lg flex items-center justify-center p-4">
      <i class="fa-solid fa-child-reaching text-secondary text-3xl"></i>
    </div>
    <h3 class="title text-xl mt-4">U1 Unterstützung Oasis Kirgistan</h3>
    <p class="text mt-2">Oasis Kirgistan ist eine Organisation, die 2008 von Thirza Schneider gegründet wurde und
      sich seitdem für (ehemalige) Strassen- und Waisenkinder einsetzt. Die finanzielle Unterstützung dieses
      Projekts steht Oasis Kirgistan für alltägliche Angelegenheiten in ihrer Arbeit zur freien Verfügung (je nach
      Bedarf).</p>
  </a>
  <a routerLink="/projekte/u2-unterstuetzung-kedesh-mosambik"
     class="flex flex-col border border-[#E4E4E4] shadow-default p-4 rounded-2xl bg-background hover:scale-[1.01] transition-default">
    <div class="w-[60px] h-[60px] border-2 border-[#E4E4E4] rounded-lg flex items-center justify-center p-4">
      <i class="fa-solid fa-shapes text-secondary text-3xl"></i>
    </div>
    <h3 class="title text-xl mt-4">U2 Unterstützung Kedesh in Mosambik</h3>
    <p class="text mt-2">Das Waisenhaus Kedesh in Beira, Mosambik, ist das Zuhause von ca. 30 Knaben im Alter von 6
      bis 18 Jahren. Als nicht-staatliche Organisation ist Kedesh auf Spenden angewiesen. Die finanzielle
      Unterstützung dieses Projekts steht dem Waisenhaus Kedesh für alltägliche Angelegenheiten in ihrer Arbeit
      zur freien Verfügung (je nach Bedarf).</p>
  </a>
</div>
