<div class="flex flex-col md:grid-cols-3 md:grid gap-12 md:gap-20 max-w-sm md:max-w-3xl mx-auto">
  <div class="flex flex-col gap-4 text-center">
    <i class="fa-solid fa-location-dot text-secondary text-4xl"></i>
    <p class="title text-base">Neumattstrasse 26 3127 Mühlethurnen</p>
  </div>
  <div class="flex flex-col gap-4 text-center">
    <i class="fa-solid fa-envelope text-secondary text-4xl"></i>
    <p class="title text-base">thirza.schneider&#64;kairesh.org<br/>
      patricia.jucker&#64;kairesh.org</p>
  </div>
  <div class="flex flex-col gap-4 text-center">
    <i class="fa-solid fa-clipboard-list text-secondary text-4xl"></i>
    <p class="title text-base">Spendenkonto<br/>IBAN CH28 0900 0000 1526 0498 9</p>
  </div>
</div>
