@import url("https://use.typekit.net/cvm2ulv.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #12130F;
    --background: #F8F8F8;
    --primary: #0095B8;
    --secondary: #FF6D6D;

    --effra: "effra-cc", sans-serif;

    --anek: "anek-gurmukhi-variable", sans-serif;
    --anek-wdth: 100;
    --anek-wght: 500;

    --nunito-sans: "nunito-sans", sans-serif;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-background text-text overflow-x-hidden;
  }
}

@layer components {
  .text {
    @apply text-base font-semibold font-nunitoSans;
  }

  .title {
    @apply text-4xl font-extrabold font-effra;
  }

  .btn {
    @apply px-8 py-2 rounded-lg text transition-default items-center flex justify-center hover:opacity-90;
  }

  .btn-primary {
    @apply bg-primary text-background;
  }

  .nav-link {
    @apply border-b-2 border-transparent transition-all duration-300 text px-2;
  }

  .transition-default {
    @apply transition-all duration-300;
  }

  .input {
    @apply bg-background px-4 py-2 rounded-lg border-2 border-text focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text placeholder:text-text w-full;
  }

  .checkbox-custom {
    @apply rounded-lg border-2 border-text focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text placeholder:text-text;
  }
}

.shadow-default {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
