<footer class="flex flex-col footer:flex-row footer:justify-between max-w-7xl mx-auto py-3 footer:items-center mt-32 px-4 sm:px-8 gap-4">
  <div class="flex flex-col footer:flex-row gap-4 footer:gap-6 footer:items-center order-2 footer:order-1">
    <a routerLink="/">
      <img class="w-[110px] h-auto" src="/images/logos/KAIRESH-Logo.png" alt="KAIRESH Logo" />
    </a>
    <p class="text text-[#CDCDCD] text-sm footer:text-base">© KAIRESH 2024, All rights reserved</p>
  </div>
  <ul class="flex flex-row flex-wrap gap-y-2 gap-4 items-center order-1 footer:order-2">
    <li class="nav-link">
      <a routerLink="/impressum">Impressum</a>
    </li>
    <li class="nav-link">
      <a routerLink="/datenschutz">Datenschutz</a>
    </li>
    <li class="nav-link">
      <a routerLink="/kontakt">Kontakt</a>
    </li>
  </ul>
</footer>
